body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #333;
    color: white;
    padding: 2rem;
    width: 100%;
    text-align: center;
}

form {
    background-color: white;
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 1rem;
    text-align: left;
}

input, textarea {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input:focus, textarea:focus {
    border-color: #1e90ff;
    outline: none;
}

button {
    margin-top: 1.5rem;
    padding: 0.7rem;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0d6efd;
}
