body {
    font-family: Georgia, serif;
    margin: 0;
    padding: 2rem;
    background-color: #fdf6e3;
    line-height: 1.6;
}

/* Header */
header h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
}

/* Headline spanning all columns */
.headline {
    column-span: all;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

/* Multi-column layout */
.columns {
    column-count: 3;
    column-gap: 2rem;
    text-align: justify;
}

/* Floating image */
.float-left {
    float: left;
    width: 200px;
    margin: 1rem;
    border-radius: 10px;
}

/* Highlighted text */
mark {
    background-color: yellow;
    color: black;
}

