
main {
  background: #f8f9fa;
}

form .btn {
  font-weight: 500;
}

.btn:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
}

img.rounded-circle {
  border: 3px solid #0d6efd;
}

