.table {
  border-radius: 8px;
  overflow: hidden;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
  transform: scale(1.01);
  transition: 0.2s ease;
}

.list-group-item:hover {
  background-color: #f1f1f1;
  transform: translateY(-3px);
  transition: 0.3s ease;
}

figure img {
  max-width: 600px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

